.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.header-full-header {
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 3;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-full-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.header-full-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-navlink {
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-full-menu {
  flex: 0 0 auto;
  width: 772px;
  height: 38px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-full-navlink01 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink01:hover {
  color: var(--dl-color-gray-500);
}
.header-full-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-navlink02 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.header-full-dropdown-arrow {
  transition: 0.3s;
}
.header-full-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.header-full-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-full-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-full-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.header-full-navlink05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-link {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-link:hover {
  color: var(--dl-color-gray-500);
}
.header-full-navlink06 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink06:hover {
  color: var(--dl-color-gray-500);
}
.header-full-navlink07 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink07:hover {
  color: var(--dl-color-gray-500);
}
.header-full-navlink08 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink08:hover {
  color: var(--dl-color-gray-500);
}
.header-full-navlink09 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink09:hover {
  color: var(--dl-color-gray-500);
}
.header-full-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-navlink10 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.header-full-dropdown-arrow1 {
  transition: 0.3s;
}
.header-full-icon2 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.header-full-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-full-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-text3 {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.header-full-dropdown-arrow2 {
  transition: 0.3s;
}
.header-full-icon4 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.header-full-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-full-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink15 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-full-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-thq-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-full-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink17 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-navlink18 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-full-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-text5 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-full-thq-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-list4 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-full-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-text6 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-full-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-text7 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-full-dropdown15 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.header-full-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-full-dropdown-toggle18:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-full-text8 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-full-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-link1 {
  display: contents;
}
.header-full-component {
  text-decoration: none;
}
.header-full-navlink20 {
  display: contents;
}
.header-full-icon6 {
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .header-full-nav {
    max-width: 960px;
  }
  .header-full-navlink {
    color: var(--dl-color-secondary-700);
  }
  .header-full-menu {
    display: none;
  }
  .header-full-icon6 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-full-container3 {
    display: none;
  }
}

.outline-gray-button-container {
  display: flex;
  position: relative;
}
.outline-gray-button-button {
  color: var(--dl-color-secondary-200);
  outlinr: none;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: var(--dl-color-secondary-200);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.outline-gray-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.blog-post-card15-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card15-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card15-image {
  width: 501px;
  height: 360px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius5);
}
.blog-post-card15-container {
  height: 413px;
  display: flex;
  padding: 32px;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card15-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.blog-post-card15-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}






@media(max-width: 991px) {
  .blog-post-card15-image {
    height: 350px;
  }
}

.blog-post-card1-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card1-container {
  height: 460px;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1-text {
  color: var(--dl-color-gray-500);
  display: none;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card1-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.blog-post-card1-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.blog-post-card1-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card1-profile {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card1-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.blog-post-card1-text3 {
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card1-text4 {
  color: var(--dl-color-gray-700);
  font-weight: 300;
}
















@media(max-width: 991px) {
  .blog-post-card1-image {
    height: 350px;
  }
}

.blog-post-card11-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card11-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card11-image {
  width: 348px;
  height: 234px;
  align-self: center;
  object-fit: cover;
}
.blog-post-card11-container {
  height: 498px;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card11-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.blog-post-card11-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.blog-post-card11-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card11-profile {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card11-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.blog-post-card11-text2 {
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card11-text3 {
  color: var(--dl-color-gray-700);
  display: none;
  font-weight: 300;
}








@media(max-width: 991px) {
  .blog-post-card11-image {
    height: 350px;
  }
}

.blog-post-card12-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card12-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card12-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card12-container {
  height: 449px;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card12-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.blog-post-card12-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.blog-post-card12-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card12-profile {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card12-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.blog-post-card12-text2 {
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card12-text3 {
  color: var(--dl-color-gray-700);
  display: none;
  font-weight: 300;
}








@media(max-width: 991px) {
  .blog-post-card12-image {
    height: 350px;
  }
}

.blog-post-card13-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card13-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card13-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card13-container {
  height: 482px;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card13-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.blog-post-card13-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: 32px;
}
.blog-post-card13-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.blog-post-card13-profile {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.blog-post-card13-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.blog-post-card13-text2 {
  font-weight: 300;
  margin-left: var(--dl-space-space-halfunit);
}
.blog-post-card13-text3 {
  color: var(--dl-color-gray-700);
  display: none;
  font-weight: 300;
}








@media(max-width: 991px) {
  .blog-post-card13-image {
    height: 350px;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  width: 120px;
  height: 64px;
  object-fit: cover;
  text-decoration: none;
}
.footer-social-bar {
  width: 100%;
  display: flex;
  padding: 48px;
  justify-content: center;
}
.footer-icon {
  width: 16px;
  height: 16px;
  margin-right: var(--dl-space-space-doubleunit);
}
.footer-link {
  display: contents;
}
.footer-image1 {
  width: var(--dl-size-size-unit);
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon02 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
  text-decoration: none;
}
.footer-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.footer-icon06 {
  width: 16px;
  height: 16px;
  display: none;
  margin-right: 32px;
}
.footer-icon08 {
  width: 16px;
  height: 16px;
}
.footer-container3 {
  display: flex;
  justify-content: space-between;
}
.footer-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text1 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-navlink1 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink1:hover {
  color: var(--dl-color-gray-white);
}
.footer-navlink2 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink2:hover {
  color: var(--dl-color-gray-white);
}
.footer-text2 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-text2:hover {
  color: var(--dl-color-gray-white);
}
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text3 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-navlink3 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink3:hover {
  color: var(--dl-color-gray-white);
}
.footer-navlink4 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink4:hover {
  color: var(--dl-color-gray-white);
}
.footer-navlink5 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink5:hover {
  color: var(--dl-color-gray-white);
}
.footer-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text4 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-navlink6 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink6:hover {
  color: var(--dl-color-gray-white);
}
.footer-navlink7 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink7:hover {
  color: var(--dl-color-gray-white);
}
.footer-navlink8 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink8:hover {
  color: var(--dl-color-gray-white);
}
.footer-image2 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-unitandahalfunit);
  margin-bottom: 0px;
}
.footer-root-class-name1 {
  align-self: stretch;
}
@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-container5 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .footer-container6 {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .footer-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}

.about-tomo-alb-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-tomo-alb-navlink {
  display: contents;
}
.about-tomo-alb-component {
  text-decoration: none;
}
.about-tomo-alb-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 80vh;
  align-items: center;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgba(189, 195, 199, 0.18) 1.00%,rgba(255, 0, 17, 0.58) 100.00%),url('https://agusliobangroup.files.wordpress.com/2021/02/whatsapp-image-2021-02-18-at-16.57.39.jpeg');
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius40);
  border-top-right-radius: var(--dl-radius-radius-radius40);
  border-bottom-left-radius: var(--dl-radius-radius-radius5);
  border-bottom-right-radius: var(--dl-radius-radius-radius40);
}
.about-tomo-alb-container01 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  padding-left: 113px;
  justify-content: center;
}
.about-tomo-alb-card {
  flex: 0 0 auto;
  width: 717px;
  height: 517px;
  display: flex;
  opacity: 0.8;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  align-self: flex-end;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
}
.about-tomo-alb-text {
  text-align: center;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(240, 6, 16, 0.92) 20.00%,rgba(240, 6, 16, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-tomo-alb-text1 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.about-tomo-alb-text2 {
  color: var(--dl-color-secondary-600);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.about-tomo-alb-container02 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.about-tomo-alb-container03 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.about-tomo-alb-link {
  display: contents;
}
.about-tomo-alb-component01 {
  text-decoration: none;
}
.about-tomo-alb-navlink01 {
  display: contents;
}
.about-tomo-alb-component02 {
  text-decoration: none;
}
.about-tomo-alb-blog {
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-container04 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink02 {
  display: contents;
}
.about-tomo-alb-component03 {
  text-decoration: none;
}
.about-tomo-alb-container05 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink03 {
  display: contents;
}
.about-tomo-alb-component04 {
  text-decoration: none;
}
.about-tomo-alb-container06 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-tomo-alb-text6 {
  font-size: 3rem;
  text-align: center;
  font-family: Noto Sans;
}
.about-tomo-alb-text7 {
  max-width: 1400px;
  margin-top: 32px;
  text-align: center;
  font-family: Noto Sans;
  margin-bottom: 32px;
}
.about-tomo-alb-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-tomo-alb-link1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.about-tomo-alb-link1:hover {
  transform: scale(1.02);
}
.about-tomo-alb-button {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
}
.about-tomo-alb-button:hover {
  transform: scale(1.02);
}
.about-tomo-alb-blog1 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-container07 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink04 {
  display: contents;
}
.about-tomo-alb-component05 {
  text-decoration: none;
}
.about-tomo-alb-container08 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-container09 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-navlink05 {
  display: contents;
}
.about-tomo-alb-component07 {
  text-decoration: none;
}
.about-tomo-alb-blog2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-container10 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink06 {
  display: contents;
}
.about-tomo-alb-component08 {
  text-decoration: none;
}
.about-tomo-alb-container11 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink07 {
  display: contents;
}
.about-tomo-alb-component09 {
  text-decoration: none;
}
.about-tomo-alb-container12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-navlink08 {
  display: contents;
}
.about-tomo-alb-component10 {
  text-decoration: none;
}
.about-tomo-alb-blog3 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-container13 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink09 {
  display: contents;
}
.about-tomo-alb-component11 {
  text-decoration: none;
}
.about-tomo-alb-container14 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink10 {
  display: contents;
}
.about-tomo-alb-component12 {
  text-decoration: none;
}
.about-tomo-alb-container15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-navlink11 {
  display: contents;
}
.about-tomo-alb-component13 {
  text-decoration: none;
}
.about-tomo-alb-blog4 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.about-tomo-alb-container16 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink12 {
  display: contents;
}
.about-tomo-alb-component14 {
  text-decoration: none;
}
.about-tomo-alb-container17 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.about-tomo-alb-navlink13 {
  display: contents;
}
.about-tomo-alb-component15 {
  text-decoration: none;
}
.about-tomo-alb-container18 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .about-tomo-alb-card {
    width: 100%;
  }
  .about-tomo-alb-blog {
    flex-direction: column;
  }
  .about-tomo-alb-container04 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-container05 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-blog1 {
    flex-direction: column;
  }
  .about-tomo-alb-container07 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-container08 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-blog2 {
    flex-direction: column;
  }
  .about-tomo-alb-container10 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-container11 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-blog3 {
    flex-direction: column;
  }
  .about-tomo-alb-container13 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-container14 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-blog4 {
    flex-direction: column;
  }
  .about-tomo-alb-container16 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about-tomo-alb-container17 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}
@media(max-width: 767px) {
  .about-tomo-alb-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-tomo-alb-card {
    align-items: center;
  }
  .about-tomo-alb-text2 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .about-tomo-alb-text3 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .about-tomo-alb-text4 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .about-tomo-alb-text5 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .about-tomo-alb-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-tomo-alb-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-tomo-alb-text7 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-tomo-alb-blog1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-tomo-alb-blog2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-tomo-alb-blog3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-tomo-alb-blog4 {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .about-tomo-alb-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-tomo-alb-card {
    padding: var(--dl-space-space-unitandahalfunit);
  }
  .about-tomo-alb-container02 {
    align-items: center;
    flex-direction: column;
  }
  .about-tomo-alb-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-tomo-alb-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-tomo-alb-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-tomo-alb-btn-group {
    flex-direction: column;
  }
  .about-tomo-alb-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .about-tomo-alb-blog1 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-tomo-alb-blog2 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-tomo-alb-blog3 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-tomo-alb-blog4 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
