<div>
  <link href="./blog-post-card4.css" rel="stylesheet" />
  <div class="blog-post-card4-blog-post-card">
    <img
      alt="image"
      src="public/whatsapp%20image%202022-12-16%20at%2010.36.31-1500w.jpg"
      class="blog-post-card4-image"
    />
    <div class="blog-post-card4-container">
      <span class="blog-post-card4-text"><span>JULY 24</span></span>
      <span class="blog-post-card4-text1">
        <span>
          Lorem ipsum lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
      </span>
      <div class="blog-post-card4-separator"></div>
    </div>
  </div>
</div>
