<div>
  <link href="./feature-card31.css" rel="stylesheet" />
  <div class="feature-card31-feature-card">
    <img
      alt="image"
      src="public/dfc%20new%20logo%20%5B1%5D-200h.png"
      class="feature-card31-image"
    />
    <h2 class="feature-card31-text"><span>Lorem ipsum</span></h2>
    <span class="feature-card31-text1">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
    </span>
    <span class="feature-card31-text2"><span>SEE MORE</span></span>
  </div>
</div>
