.dunlop-agus-lio-ban-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dunlop-agus-lio-ban-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.dunlop-agus-lio-ban-text {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.dunlop-agus-lio-ban-text1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.dunlop-agus-lio-ban-text2 {
  max-width: 1400px;
  text-align: center;
  margin-bottom: 32px;
}
.dunlop-agus-lio-ban-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.dunlop-agus-lio-ban-textinput {
  display: none;
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
}
.dunlop-agus-lio-ban-link {
  color: var(--dl-color-gray-white);
  display: none;
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.dunlop-agus-lio-ban-link:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.dunlop-agus-lio-ban-gallery {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
}
.dunlop-agus-lio-ban-text3 {
  font-size: 3rem;
  text-align: center;
}
.dunlop-agus-lio-ban-text4 {
  color: var(--dl-color-gray-700);
  margin-top: 32px;
  text-align: center;
  padding-left: 48px;
  margin-bottom: 32px;
  padding-right: 48px;
}
.dunlop-agus-lio-ban-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .dunlop-agus-lio-ban-text2 {
    width: 100%;
  }
  .dunlop-agus-lio-ban-text4 {
    text-align: center;
  }
  .dunlop-agus-lio-ban-container2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .dunlop-agus-lio-ban-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .dunlop-agus-lio-ban-text2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dunlop-agus-lio-ban-gallery {
    padding-left: 32px;
    padding-right: 32px;
  }
  .dunlop-agus-lio-ban-text4 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dunlop-agus-lio-ban-container2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .dunlop-agus-lio-ban-banner {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
  .dunlop-agus-lio-ban-container1 {
    align-items: center;
    flex-direction: column;
  }
  .dunlop-agus-lio-ban-link {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .dunlop-agus-lio-ban-gallery {
    padding: var(--dl-space-space-unit);
  }
  .dunlop-agus-lio-ban-container2 {
    grid-template-columns: 1fr;
  }
}
