.news3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.news3-navlink {
  display: contents;
}
.news3-component {
  text-decoration: none;
}
.news3-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news3-feature-card:hover {
  transform: scale(1.02);
}
.news3-text {
  display: none;
  margin-bottom: 32px;
}
.news3-image {
  width: 70%;
  height: 70%;
  align-self: center;
  object-fit: cover;
  border-radius: 4px;
}
.news3-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.news3-icon {
  fill: var(--dl-color-gray-black);
  width: 2rem;
  height: 2rem;
  display: none;
  flex-shrink: 0;
  margin-right: 24px;
}
.news3-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news3-text03 {
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.news3-text04 {
  font-family: Poppins;
  padding-bottom: var(--dl-space-space-sixunits);
}
.news3-text19 {
  color: #f10b0b;
  line-height: 1.4;
}
.news3-text20 {
  line-height: 1.4;
}
.news3-text21 {
  color: #ff0101;
  line-height: 1.4;
  text-transform: uppercase;
}
.news3-text22 {
  line-height: 1.4;
}
.news3-text23 {
  color: #ff0202;
  line-height: 1.4;
}
.news3-text24 {
  line-height: 1.4;
}
.news3-text25 {
  color: #f72400;
  line-height: 1.4;
}
.news3-text26 {
  line-height: 1.4;
}
.news3-text27 {
  color: #f70707;
  line-height: 1.4;
}
.news3-text28 {
  line-height: 1.4;
}
.news3-text29 {
  color: #f10505;
  line-height: 1.4;
}
.news3-text30 {
  line-height: 1.4;
}
.news3-text31 {
  color: #fb0707;
  line-height: 1.4;
}
.news3-text32 {
  line-height: 1.4;
}
.news3-text33 {
  color: #f90909;
  line-height: 1.4;
}
.news3-text34 {
  line-height: 1.4;
}
.news3-text35 {
  color: #f30808;
  line-height: 1.4;
}
.news3-text36 {
  line-height: 1.4;
}
.news3-text37 {
  color: #f50909;
  line-height: 1.4;
}
.news3-text38 {
  line-height: 1.4;
}
.news3-text40 {
  font-family: Poppins;
}
@media(max-width: 767px) {
  .news3-feature-card1 {
    flex-direction: row;
  }
  .news3-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .news3-container1 {
    flex-direction: column;
  }
}
