.news-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.news-navlink {
  display: contents;
}
.news-component {
  text-decoration: none;
}
.news-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.news-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: flex-start;
}
.news-feature-card:hover {
  transform: scale(1.02);
}
.news-text {
  display: none;
  margin-bottom: 32px;
}
.news-image {
  width: 70%;
  height: 70%;
  align-self: center;
  object-fit: cover;
  border-radius: 4px;
}
.news-container02 {
  width: auto;
  height: 328px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
  justify-content: center;
}
.news-container03 {
  flex: 0 0 auto;
  width: 1207px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.news-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.news-icon {
  fill: var(--dl-color-gray-black);
  width: 2rem;
  height: 2rem;
  display: none;
  flex-shrink: 0;
  margin-right: 24px;
}
.news-container04 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.news-text03 {
  align-self: stretch;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.news-text04 {
  align-self: stretch;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-sixunits);
}
.news-blog-posts {
  width: 100%;
  height: 839px;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.news-text09 {
  color: var(--dl-color-secondary-500);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.news-container05 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.news-navlink1 {
  display: contents;
}
.news-component1 {
  text-decoration: none;
}
.news-navlink2 {
  display: contents;
}
.news-component2 {
  text-decoration: none;
}
.news-navlink3 {
  display: contents;
}
.news-component3 {
  text-decoration: none;
}
.news-container06 {
  flex: 1;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.news-navlink4 {
  display: contents;
}
.news-card {
  flex: 1;
  width: 255px;
  display: flex;
  padding: var(--dl-space-space-unitandahalfunit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-size: cover;
  text-decoration: none;
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/736/642/non_2x/abstract-3d-luxury-red-color-wave-lines-with-shiny-golden-curved-line-decoration-and-glitter-lighting-on-gradient-red-background-vector.jpg');
}
.news-container07 {
  display: flex;
  z-index: 2;
  align-items: flex-start;
  flex-direction: column;
}
.news-text12 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.news-text13 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.news-container08 {
  display: flex;
  position: relative;
}
.news-button {
  color: var(--dl-color-blue-500);
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.news-text14 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-halfunit);
}
.news-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.news-container09 {
  top: auto;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: none;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-color: rgba(0,0,0,.4);
}
@media(max-width: 991px) {
  .news-container06 {
    width: 100%;
  }
  .news-card {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .news-feature-card1 {
    flex-direction: row;
  }
  .news-container04 {
    flex-direction: column;
  }
  .news-blog-posts {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .news-container06 {
    margin-top: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .news-container04 {
    flex-direction: column;
  }
}
