.sparepart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.sparepart-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sparepart-container1 {
  display: flex;
  margin-right: 48px;
  margin-bottom: var(--dl-space-space-twelveunits);
  padding-right: 48px;
  flex-direction: column;
}
.sparepart-text {
  font-size: 3rem;
  max-width: 450px;
}
.sparepart-text1 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.sparepart-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.sparepart-link {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.sparepart-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.sparepart-button {
  display: none;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
}
.sparepart-button:hover {
  border-color: var(--dl-color-gray-black);
}
.sparepart-image {
  width: 400px;
  object-fit: cover;
  padding-bottom: var(--dl-space-space-twelveunits);
}
@media(max-width: 991px) {
  .sparepart-hero {
    flex-direction: column;
  }
  .sparepart-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .sparepart-text {
    text-align: center;
  }
  .sparepart-text1 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media(max-width: 767px) {
  .sparepart-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .sparepart-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .sparepart-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .sparepart-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .sparepart-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sparepart-btn-group {
    flex-direction: column;
  }
  .sparepart-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
